<div>
  <h1>User Management</h1>
  <form method="POST" action="/users/create">
    <div class="mb-3">
      <label for="usernameInput" class="form-label">Username</label>
      <input type="text" class="form-control" id="usernameInput" name="username" required>
    </div>
    <div class="mb-3">
      <label for="passwordInput" class="form-label">Password</label>
      <input type="password" class="form-control" id="passwordInput" name="password" required>
    </div>
    <div class="mb-3">
      <label for="privilegeInput" class="form-label">Privilege</label>
      <input type="number" max="255" min="0" class="form-control" id="privilegeInput" name="privilege" required>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
  </form>
</div>
